 <style>
  header{color: blue;}
body{background-color: lightgray;}
    .jobtitle{font-weight: bold; font-size: 16px;}
    .points{font-weight: ; font-size: 15px}
    .sections{front-weight: bold; font-size: 17px; text-decoration: underline;}
  footer{background: yellow;}
  </style>